<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login</title>
</head>
<body>
    <main>
        <from action="login.html" method="post">
            <div class="formulariodatos">
                <label for="usuario">Usiario</label>
                <input type="text" name="usuario" id="usuario">
                    <br>
                <label for="psw">Contraseña</label>
                <input type="password" name="psw" id="psw">
                <label for="psw">Repetir contraseña</label>
                <input type="password" name="psw" id="repetirpsw">
                
                    <br>
                <label for="enviar">Enviar</label>
                <button type="submit">Enviar</button>                
            </div>
        </from>
    </main>
</body>
</html>